<% @page_title = "You've got to login" %>
<% content_for :subheader do %>
	<%= link_to 'Not member yet?', new_user_path %>
<% end -%>

<% form_tag session_path do -%>
<div class="form">
	<h4>Login Details</h4>
	<dl id="login">
		<dt>
			<%= label_tag 'login' %>
		</dt>
		<dd>
			<%= text_field_tag 'login', @login %>
		</dd>

		<dt><%= label_tag 'password' %></dt>
		<dd><%= password_field_tag 'password', nil %></dd>


		<dt><%= label_tag 'remember_me', 'Remember me' %></dt>
		<dd><%= check_box_tag 'remember_me', '1', @remember_me, :class => :check %></dd>

	</dl>
	<p><%= submit_tag 'Log in', :class => :submit %></p>
</div>
<% end -%>
