<% content_for :subheader do %>
	<ul>
		<li><%= link_to 'Area', '#' %></li>
		<li><%= link_to 'Alphabetically', '#' %></li>
		<li><%= link_to 'Popular', '#'%></li>
	</ul>
<% end %>

<ul class="list">
	<%= render :partial => 'store', :collection => @stores %>
</ul>

<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @stores %>
  </div>
  <%= will_paginate @stores, :container => false %>
</div>

<% content_for :bottom_menu do -%>
	<ul>
		<li><%= link_to 'Submit New Store', new_store_path %></li>
	</ul>
<% end -%>