<% @page_title = "Yet another great find" %>

<% form_for(@store) do |f| %>
	<div class="form">
	<h4>Submitting a new Store <%= "for #{@chain.title}" if has_chain? %></h4>
	<%= f.error_messages %>
  	<dl>
	    <dt><%= f.label :title %></dt>
	    <dd><%= f.text_field :title %></dd>

    	<dt><%= f.label :description %></dt>
    	<dd><%= f.text_field :description %></dd>

		<dt><%= f.label :latitude %></dt>
    	<dd><%= f.text_field :latitude %></dd>
    	
		<dt><%= f.label :longitude %></dt>
    	<dd><%= f.text_field :longitude %></dd>
	</dl>
  <p>
    <%= f.submit 'Create' %>
  </p>
	</div>
<% end %>

<% content_for :bottom_menu do %>
	<ul>
		<li><%= link_to "Back to #{@chain.title}", @chain if has_chain? %></li>
		<li><%= link_to 'Stores', stores_path %></li>
	</ul>
<% end %>