<% form_for(@chain) do |f| %>
  <%= f.error_messages %>

  <div class="form">
	  <h4>Updating <%= "#{@chain.title}"%></h4>
	
	  <%= f.error_messages %>

	  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<% content_for :bottom_menu do -%>
<ul>
	<li><%= link_to 'Show', @chain %></li>
	<li><%= link_to 'Back', chains_path %></li>
<% end -%>