<% content_for :subheader do %>
	<h1>Results for <span class="emphasis">Restaurant Chains</span></h1>
	<ul>
		<li><%= link_to 'Area', '#' %></li>
		<li><%= link_to 'Alphabetically', '#' %></li>
		<li><%= link_to 'Popular', '#'%></li>
	</ul>
<% end %>

<ul class="list">
	<%= render :partial => 'chain', :collection => @chains %>
</ul>

<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @chains %>
  </div>
  <%= will_paginate @chains, :container => false %>
</div>

<% content_for :bottom_menu do -%>
	<ul>
		<li><%= link_to 'Submit New Chain', new_chain_path %></li>
		<li><%= link_to 'Home', new_chain_path %></li>
	</ul>
<% end -%>