<% content_for :subheader do %>
	<h1>Results for <span class="emphasis">Restaurant Chains</span></h1>
	<ul>
		<li><%= link_to 'Area', '#' %></li>
		<li><%= link_to 'Alphabetically', '#' %></li>
		<li><%= link_to 'Popular', '#'%></li>
	</ul>
<% end %>

<ul class="list">
<% @chains.each do |chain| %>
 	 <li class="list_item <%= cycle('odd', 'even') %>">
		<span class="chain cup">&nbsp;
		</span>
		<h3><%= link_to h(chain.title), chain %></h3>
		<p><%= h chain.description %></p>
		<small>Last updated <%= time_ago_in_words(chain.updated_at)%> ago</small>
	  </li>
<% end %>
</ul>

<div class="digg_pagination">
      <div clas="page_info">
        <%= page_entries_info @chains %>
      </div>
      <%= will_paginate @chains, :container => false %>
    </div>

<div id="bottom_menu">
	<ul>
		<li><%= link_to 'Submit New Chain', new_chain_path %></li>
		<li><%= link_to 'Home', new_chain_path %></li>
	</ul>
</div>