<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <title>
	<%= page_title %>
  </title>
  <%= stylesheet_link_tag 'foodulu' %>
</head>
<body>
	<div id="container">
		<div id="header">
			<%= image_tag 'logo.png' %>
		</div>
		<div id="menu">
			<ul>
				<li><%= link_to 'Home', '/' %></li>
				<li><%= link_to 'Chains', chains_path %></li>
				<li><%= link_to 'Stores', chains_path %></li>
				<li class="right"><%= login_account %></li>
			</ul>
		</div>

		<div id="subheader">
			<%= yield :subheader %>
		</div>
		
		<%= render :partial => 'application/flash_messages' %>

		
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			<div>Foodulu™ is Ehrmand ©2009</div>
			<div><%= link_to 'Terms of Service', '#' %> | <%= link_to 'Privacy Policy', '#' %></div>
		</div>
	</div>
</body>
</html>
